- name: Base VE config
  hosts: localhost
#  connection: local
  gather_facts: False

  vars:
    bigip_provider:
      server: 13.236.248.201
      user: admin
      password: password
      validate_certs: no
    ntp_var: [1.1.1.1, 2.2.2.2, 3.3.3.3]
    vlan_1: client_1
    vlan_2: client_2
    vlan_3: outside
    vlan_1_mask: 255.255.255.0
    vlan_2_mask: 255.255.255.0
    vlan_3_mask: 255.255.255.0
    vlan_1_ip: 10.200.7.32
    vlan_2_ip: 10.200.8.29
    vlan_3_ip: 10.200.6.249
    default_outside_route_gw: 10.200.6.1
    hsl_log_dest: hsl-elk-dest
    bigip_pool: hsl-elk-pool
    bigip_pool_member: 10.200.5.27
    bigip_pool_member_port: 5000
    client_1_private_ip: 10.200.7.55
    ssh_pool: ssh_pool
    bigip_virtual_name: inbound_ssh_vs
    bigip_virtual_cgnat_name: cgnat_napt

    

  tasks:
  - name: Add 1.1 as untagged interface for client_1 VLAN
    bigip_vlan:
        untagged_interface: 1.1
        name: "{{ vlan_1 }}"
        provider: "{{ bigip_provider }}"
  - name: Add 1.2 as untagged interface for client_2 VLAN
    bigip_vlan:
        untagged_interface: 1.2
        name: "{{ vlan_2 }}"
        provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Add 1.3 as untagged interface for outside VLAN
    bigip_vlan:
        untagged_interface: 1.3
        name: "{{ vlan_3 }}"
        provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Create Self IP client_1
    bigip_selfip:
      address: "{{ vlan_1_ip }}"
      name: "{{ vlan_1 }}"
      netmask: "{{ vlan_1_mask }}"
      vlan: "{{ vlan_1 }}"
      allow_service: all
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Create Self IP client_2
    bigip_selfip:
      address: "{{ vlan_2_ip }}"
      name: "{{ vlan_2 }}"
      netmask: "{{ vlan_2_mask }}"
      vlan: "{{ vlan_2 }}"
      allow_service: all
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Create Self IP outside
    bigip_selfip:
      address: "{{ vlan_3_ip }}"
      name: "{{ vlan_3 }}"
      netmask: "{{ vlan_3_mask }}"
      vlan: "{{ vlan_3 }}"
      provider: "{{ bigip_provider }}"
      allow_service: all
    delegate_to: localhost
  - name: Configure default route for outside interface
    bigip_static_route:
      destination: 0.0.0.0
      netmask: 0.0.0.0
      gateway_address: "{{ default_outside_route_gw }}"
      name: default-to-outside
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Create pool
    bigip_pool:
      state: present
      name: "{{ bigip_pool }}"
      partition: Common
      lb_method: least-connections-member
      slow_ramp_time: 220
      monitors:
        - tcp
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Add pool member
    bigip_pool_member:
      state: present
      pool: "{{ bigip_pool }}"
      partition: Common
      host: "{{ bigip_pool_member }}"
      port: "{{ bigip_pool_member_port }}"
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Create a high-speed logging destination
    bigip_log_destination:
      name: "{{ hsl_log_dest }}"
      type: remote-high-speed-log
      pool: "{{ bigip_pool }}"
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Create a log publisher for use in high speed logging
    bigip_log_publisher:
      name: publisher1
      destinations:
        - "{{ hsl_log_dest }}"
      state: present
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Create pool for inbound ssh
    bigip_pool:
      state: present
      name: "{{ ssh_pool }}"
      partition: Common
      lb_method: least-connections-member
      slow_ramp_time: 220
      monitors:
        - tcp
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Add pool member inbound ssh
    bigip_pool_member:
      state: present
      pool: "{{ ssh_pool }}"
      partition: Common
      host: "{{ client_1_private_ip }}"
      port: 22
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Add virtual server inbound ssh
    bigip_virtual_server:
      state: present
      partition: Common
      name: "{{ bigip_virtual_name }}"
      destination: "{{ vlan_3_ip }}"
      port: 2201
      pool: "{{ ssh_pool }}"
      snat: Automap
      description: SSH Inbound Virtual Server
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: create LSN pool
    bigip_command:
      commands:
        - create ltm lsn-pool lsn_pool egress-interfaces add { outside } egress-interfaces-enabled log-profile lsn_log_profile log-publisher publisher1 members add { "{{ vlan_3_ip }}"/32 } mode napt
        - create ltm virtual "{{ bigip_virtual_cgnat_name }}" destination 0.0.0.0:any mask any source-address-translation { pool lsn_pool type lsn } translate-address disabled translate-port disabled vlans add { client_1 } vlans-enabled vlans add { client_1 }
        - modify sys db cgnat.lsnlegacyeditor value true
        - modify ltm lsn-log-profile lsn_log_profile start-outbound-session { action enabled }
      provider: "{{ bigip_provider }}"
    delegate_to: localhost

